* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

/* Header */
header {
  display: flex;
  min-height: 100px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(245 239 234);
  border-bottom: 1px solid rgba(167, 180, 150, 0.864);
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  color: rgb(27 57 35);
}

.logo {
  padding-right: 200px;
}

nav ul {
  display: flex;
  gap: 40px;
  padding-left: 4px;
  border-left: 5px solid rgb(138 139 73);
  
}

nav li:hover {
    color: rgb(206 66 21);
}

/* Section 1 */
.hero {
  background-color: rgb(204 218 178);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 600px;
  position: relative;
  
}

.leaf-1 {
  position: absolute;
  left: -16px;
  bottom: -55px;
  height: 90%;
  z-index: 0;
  pointer-events: none;
}

.hero-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 40%;
  max-width: 500px;
  margin-right: 20px;
}

.name {
  color: rgb(14 39 21);
  font-family: serif;
  font-size: 6rem;
  line-height: 0.9;
  margin: 0 0 15px 0;
  font-weight: bold;
}

.hero-description {
  color: rgb(49 83 59);
  font-size: 1.7rem;
  margin-bottom: 35px;
  font-family: sans-serif;
  font-weight: 100;
}

.social-links {
    align-items: flex-start;
}

.social-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: rgb(206 66 21);
  color: rgb(204 218 178);
  border-radius: 50%;
  margin-right: 12px;
  font-size: 1.2rem;
  text-decoration: none;
  transition: transform 0.2s;
}

.social-links a:hover {
}

.hero-photo-1 {
  z-index: 1;
  height: 85%;
  width: auto;
  object-fit: none
  margin-bottom: -5px;
}

/* Section 3 */
.grey-background {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
