* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

body::selection {
  background-color: grey;
  color: white;
}

h2 {
  justify-self: start;
  color: rgb(27 57 35);
  font-size: 3.7rem;
  font-family: serif;
  font-weight: 1000;
  margin-bottom: 40px;
}

strong {
  font-weight: bold;
}

/* Header */
header {
  display: flex;
  min-height: 100px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(245 239 234);
  border-bottom: 1px solid rgba(167, 180, 150, 0.864);
  font-weight: 100;
  font-size: 1.2rem;
  color: rgb(27 57 35);
}

header logo {
  padding-right: 200px;
}

nav ul {
  display: flex;
  gap: 40px;
  padding-left: 4px;
  border-left: 5px solid rgb(138 139 73);
}

nav li:hover {
  color: rgb(206 66 21);
}

.menu-btn {
  display: none;
}

/* Section 1 */
.hero {
  background-color: rgb(204 218 178);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 600px;
  position: relative;
}

.leaf-1 {
  position: absolute;
  left: -16px;
  bottom: -55px;
  height: 90%;
  pointer-events: none;
}

.hero-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 40%;
  max-width: 500px;
  margin-right: 20px;
  align-items: flex-start;
  text-align: left;
  padding-left: 90px;
}

.name {
  color: rgb(14 39 21);
  font-family: serif;
  font-size: 6rem;
  line-height: 0.9;
  margin: 0 0 15px 0;
  font-weight: bold;
}

.hero-description {
  color: rgb(49 83 59);
  font-size: 1.7rem;
  margin-bottom: 35px;
  font-weight: 100;
}

.social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: rgb(206 66 21);
  color: rgb(204 218 178);
  border-radius: 50%;
  margin-right: 12px;
  font-size: 1.2rem;
  text-decoration: none;
  transition: transform 0.2s;
}

.social-links a:hover {
  color: rgb(14 39 21);
}

.hero-photo-1 {
  height: 85%;
  width: auto;
}

/* Section 2 */
.services {
  padding: 80px 250px;
  background-color: rgb(245 249 237);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 30px;
  grid-template-areas:
    "header    header"
    "service-1 service-2"
    "service-3 service-3";
}

.services h2 {
  grid-area: header;
}

.service-1,
.service-2,
.service-3 {
  background-color: rgb(49 83 59);
  color: rgb(245 249 237);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px solid black;
}

.service-1 {
  grid-area: service-1;
}

.service-2 {
  grid-area: service-2;
}

.service-3 {
  grid-area: service-3;
}

.services h3 {
  font-family: serif;
  font-size: 2.3rem;
  line-height: 1.1;
  margin-top: 0;
  font-weight: bold;
}

.services p {
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 10px;
  color: rgb(204 218 178);
  font-weight: 100;
}

.green-btn {
  width: 100%;
  padding: 15px;
  background-color: rgb(179 180 118);
  border: none;
  font-weight: bold;
  color: #1a2e1a;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  border: 1px solid white;
}

.green-btn:hover {
  background-color: rgb(245 249 237);
}

.consultation-link {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  background-color: rgb(206 66 21);
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid rgb(206 66 21);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s;
}

.consultation-link:hover {
  background-color: rgb(180, 50, 10);
}

.service-2 .consultation-link:first-of-type {
  background-color: transparent;
  border: 1px solid rgb(180, 50, 10);
}

.consultation-link .fa-brands {
  color: rgb(49 83 59);
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  align-self: center;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-2 .consultation-link:first-of-type:hover {
  background-color: rgb(34, 58, 41);
}

/* Section 3 */
.recomendations {
  background-color: rgb(179 180 118);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 30px;
  grid-template-areas:
    "recomendations-header recomendations-header"
    "recomendation-1 recomendation-2"
    "recomendation-3 recomendation-4";

  min-height: 600px;
  padding: 100px 350px 100px 250px;
}

.recomendations h2 {
  grid-area: recomendations-header;
}

.recomendation-1 {
  grid-area: recomendation-1;
}

.recomendation-2 {
  grid-area: recomendation-2;
}

.recomendation-3 {
  grid-area: recomendation-3;
}

.recomendation-4 {
  grid-area: recomendation-4;
}

.recomendation-wrapper {
  display: flex;
  gap: 20px;
}

.recomendation-wrapper p {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 100;
}

.white-square {
  width: 110px;
  height: 110px;
  border: 1px solid black;
}

/* Я зробила кола та квадрати як заглушки для фото, щоб клієнт міг змінити їх пізніше. */

.access-link {
  border: 1px solid black;
  text-decoration: none;
  color: white;
  padding: 10px 40px;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: rgb(206 66 21);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  margin-top: 10px;
}

/* Section 4 */
.worked-with {
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
  text-align: center;
  background-color: rgb(245 249 237);
  min-height: 800px;
  color: rgb(27 57 35);
}

.worked-with h2 {
  margin-bottom: 10px;
}

.worked-with p {
  font-weight: 100;
  margin-bottom: 15px;
}

.people {
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 800px;
  margin: 0 auto;
}

.each-person {
  margin-top: 20px;
  align-self: center;
}

.each-person p {
  margin-top: 10px;
  font-weight: bold;
}

.grey-background {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Section 5 */
.about-hero {
  background-color: rgb(49, 83, 59);
  color: rgb(204, 218, 178);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  padding: 80px 150px 0px 150px;
  min-height: 650px;
}

.text-content {
  flex: 1;
  max-width: 500px;
  margin-top: 40px;
}

.about-hero h2 {
  color: rgb(245, 249, 237);
  font-family: sans-serif;
  font-size: 5.5rem;
  line-height: 1;
  margin-bottom: 20px;
}

.about-hero p {
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}

.hero-photo-2 {
  margin-top: -170px;
  margin-right: -90px;
  width: 500px;
  height: auto;
  object-fit: cover;
  display: block;
}

/* Section 6 */
.reviews {
  background-color: rgb(204, 218, 178);
  position: relative;
  padding: 100px 50px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  position: absolute;
  top: -30px;
  left: 15%;
  width: 100px;
}

.review-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1000px;
  position: relative;
}

.review-content {
  color: rgb(14 39 21);
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 100;
  z-index: 1;
}

.signature {
  text-align: right;
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
}

.nav-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #d67a55;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.leaf-2 {
  position: absolute;
  bottom: -70px;
  right: 0;
  width: 400px;
  z-index: 0;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  padding: 40px 200px;
  min-height: 200px;
  justify-content: center;
  background-color: rgb(245 249 237);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.footer-wrapper logo {
  font-size: 2.7rem;
  font-weight: 100;
  color: #1a2e1a;
}

.footer-wrapper a {
  color: rgb(245 249 237);
  font-size: 1.7rem;
}

.last-element {
  align-self: center;
  font-weight: 100;
  color: #1b3923;
}

/* Media */
@media (max-width: 750px) {
  /* Header */
  header {
    justify-content: space-between;
    padding: 0px 40px;
    font-size: 1.6rem;
  }

  nav ul {
    display: none;
  }

  .menu-btn {
    display: block !important;
    font-size: 2rem;
    color: rgb(27, 57, 35);
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .menu-btn:hover {
    color: #d67a55;
  }

  /* Section 1 */
  .hero {
    min-height: auto;
    height: auto;
    align-items: center;
    padding-bottom: 0;
  }

  .leaf-1 {
    display: none;
  }

  .hero-container {
    width: 55%;
    padding-left: 20px;
    margin-right: 0;
    align-self: center;
  }

  .name {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .hero-description {
    font-size: 0.9rem;
    line-height: 1.3;
    margin-bottom: 15px;
  }

  .hero-photo-1 {
    width: 35%;
    height: auto;
    object-fit: contain;
    align-self: flex-end;
  }

  .social-links a {
    width: 32px;
    height: 32px;
    font-size: 0.9rem;
    margin-right: 8px;
  }

  /* Section 2 */
  .services {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "service-1"
      "service-2"
      "service-3";
    padding: 60px 25px;
  }

  .services h3 {
    font-size: 1.8rem;
  }

  /* Section 3 */
  .recomendations {
    grid-template-columns: 1fr;
    grid-template-areas:
      "recomendations-header"
      "recomendation-1"
      "recomendation-2"
      "recomendation-3"
      "recomendation-4";
    padding: 60px 100px;
    gap: 40px;
  }

  /* Section 5 */
  .about-hero {
    display: block;
    position: relative;
    padding: 140px 30px 50px 30px;
    min-height: auto;
  }

  .hero-photo-2 {
    position: absolute;
    top: 20px;
    right: 40px;
    height: 250px;
    margin: 0;
    object-position: top;
  }

  .text-content {
    width: 100%;
    margin-top: 0;
  }

  .about-hero h2 {
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: 20px;
    max-width: 100%;
  }

  /* Section 6 */
  .leaf-2 {
    display: none;
  }

  .reviews {
    padding: 80px 10px;
  }

  /* Footer */
  footer {
    padding: 20px 20px;
  }

  .footer-wrapper logo {
    font-size: 1.7rem;
  }
}
/* -------------------------------------------------------------------- */

@media (max-width: 1100px) {
  /* Section 2 */
  .services {
    padding: 80px 50px;
    gap: 20px;
  }

  /* Section 3 */
  .recomendations {
    padding: 100px 50px;
    gap: 20px;
  }

  /* Section 5 */
  .about-hero {
    padding: 80px 30px 50px 30px;
    gap: 30px;
    align-items: center;
  }

  .hero-photo-2 {
    width: 45%;
    max-width: 350px;
    margin-top: -100px;
    margin-right: 0;
  }

  .text-content {
    flex: 1;
    margin-top: 0;
  }
}
